<%= form_with model: person do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>
      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :thumbnail_image, "Thumbnail image" %>
    <% if person.thumbnail_image.attached? %>
      <%= image_tag person.thumbnail_image, alt: "Current thumbnail", style: "max-width: 200px; display: block;" %>
      <p>Upload a new file to replace the current image.</p>
    <% end %>
    <%= form.file_field :thumbnail_image, accept: "image/jpeg,image/png,image/webp" %>
  </div>

  <div>
    <%= form.label :full_image, "Full image" %>
    <% if person.full_image.attached? %>
      <%= image_tag person.full_image, alt: "Current full image", style: "max-width: 400px; display: block;" %>
      <p>Upload a new file to replace the current image.</p>
    <% end %>
    <%= form.file_field :full_image, accept: "image/jpeg,image/png,image/webp" %>
  </div>

  <div>
    <%= form.submit "Save Person" %>
  </div>
<% end %>
