<%= form_with model: person do |form| %>
  <% if person.errors.any? %>
    <div class="error-messages">
      <ul>
        <% person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :thumbnail_image %>
    <%= form.text_field :thumbnail_image %>
    <% if person.thumbnail_image.present? %>
      <div>
        <%= image_tag person.thumbnail_image,
            alt: person.full_name,
            class: "person-image thumbnail" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :full_image %>
    <%= form.text_field :full_image %>
    <% if person.full_image.present? %>
      <div>
        <%= image_tag person.full_image,
            alt: person.full_name,
            class: "person-image full" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save Person" %>
  </div>
<% end %>