<h1><%= @person.fullname %></h1>
<p><%= @person.description %></p>
<img src="<%= @person.full_image_url %>" alt="<%= @person.fullname %>" class="person-image full">
<%= link_to "Back to People", people_path %>