<%= form_with model: event do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :event_type_id, "Event Type" %>
    <%= f.collection_select :event_type_id, EventType.order(:name), :id, :name, { prompt: "Select an event type" } %>
  </div>

  <div>
    <%= f.label :person_ids, "People" %>
    <%= f.collection_select :person_ids, Person.order(:first_name, :last_name), :id, :full_name,
        {}, { multiple: true } %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :day %>
    <%= f.number_field :day %>
  </div>

  <div>
    <%= f.label :month %>
    <%= f.number_field :month %>
  </div>

  <div>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
