<% if @event.image.attached? %>
  <%= image_tag @event.image, alt: @event.title, style: "max-width: 800px; display: block;" %>
<% elsif @event.thumbnail_image.attached? %>
  <%= image_tag @event.thumbnail_image, alt: @event.title, style: "max-width: 400px; display: block;" %>
<% end %>
<h1><%= @event.title %></h1>
<p>
  <strong>Event Type:</strong>
  <%= lucide_icon(@event.event_type.icon, size: 20) %>
  <%= link_to @event.event_type.name, @event.event_type %>
</p>
<p>
  <strong>People:</strong>
  <% @event.people.each do |person| %>
    <%= link_to person.full_name, person %>
  <% end %>
</p>
<p>
  <strong>Date:</strong>
  <%= @event.display_date %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @event.classification.capitalize %>
</p>

<% if @event.description.present? %>
  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>
<% end %>
<%= link_to "Back to Events", events_path %>
<% if @policy.can_update? %>
  <%= link_to "Edit", edit_event_path(@event) %>
<% end %>
<% if @policy.can_delete? %>
  <%= button_to "Delete Event", event_path(@event), method: :delete,
      data: { turbo_confirm: "Are you sure you want to delete this event?" } %>
<% end %>

