<%= form_with(model: event_type) do |f| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event type from being saved:</h2>
      <ul>
        <% event_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>

  <div>
    <%= f.label :icon %>
    <p>
      Find icon names at <%= link_to "lucide.dev/icons", "https://lucide.dev/icons/",
            target: "_blank", rel: "noopener noreferrer" %>
    </p>
    <%= f.text_field :icon, placeholder: "e.g. music, cake, trophy" %>
    <% if event_type.persisted? && event_type.icon.present? && EventType::LUCIDE_VALID_ICONS.include?(event_type.icon) %>
      <div><%= lucide_icon(event_type.icon, size: 24) %></div>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
