<%# app/views/layouts/application.html.erb %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bergstromdomain.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="site-shell">
      <%= render "layouts/top_nav" %>

      <div class="site-body">
        <% if @show_left_nav %>
          <%= render "layouts/left_nav" %>
        <% end %>

        <main class="site-main" data-testid="main-content">
          <% flash.each do |type, message| %>
            <div class="flash <%= type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>

      <%= render "layouts/footer" %>
    </div>
  </body>
</html>